[core]
nick=bot-nickname
user=ident
name=Status-Bot

host=irc.hackint.org
port=6697
timeout=120

use_ssl=True
verify_ssl=False

owner=alice
admins=bob,mallory

logdir=logs/
pid_dir=.
homedir=.
extra=modules/

channels = #ffxx
enable = ffda_lib,ffda_netstate,reload
prefix = .

verbose=warning
logging_level=ERROR

[db]
userdb_type=sqlite
userdb_file=ffda.sqlite

[freifunk]
announce_target=#ffxx
ffmap_nodes_uri=https://map.darmstadt.freifunk.net/data/nodes.json
padserver=https://md.darmstadt.ccc.de/
